@model (LibraryMgmt.Models.User, List<LibraryMgmt.Models.BookIssue>)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Item1.guid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>

                <th>
                    Book
                </th>
                <th>
                    Issue Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Return Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

