@model LibraryMgmt.ViewModel.BookIssueListViewModel

@{
    ViewData["Title"] = "Details";
}
@{
    // Accessing the ViewBag.fine value
    var fine = ViewBag.fine;
}

<h1>Book Issue Details</h1>
<div>
    <h4>@Model.BookTitle</h4>
    <p>User: @Model.UserName</p>
    <p>Issue Date: @Model.IssueDate</p>
    <p>Due Date: @Model.DueDate</p>
    @{
        if 
        (@Model.ReturnDate== null){
            <form asp-action="Return" asp-route-id="@Model.Guid" method="post">
                <button type="submit">Return</button>
            </form>

        }
        else
        {
            <p>Return Date: @Model.ReturnDate</p>
        }
    }
    <p>Fine: Rs. @Model.Fine</p>

    <a asp-action="Index">Back to List</a>
</div>
