@model IEnumerable<LibraryMgmt.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>BOOKS</h1>
@if (User.HasClaim(c => c.Type == "Role" && (c.Value == "Admin" | c.Value == "Manager")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form method="get" asp-action="Index">
    <input type="text" name="searchTitle" placeholder="Search by title" value="@ViewData["CurrentFilter"]" />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
                @if (User.HasClaim(c => c.Type == "Role" && (c.Value == "Admin" | c.Value == "Manager")))
                {
            <td>

                <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Guid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
            </td>
                }
                @if (User.HasClaim(c => c.Type == "Role" && c.Value == "User"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Guid">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
